@font-face {
  font-family: 'myFont';
  src: url('../font/my-font.ttf');
  font-weight: 600;
  font-style: normal;
}

@import "./other.css";

body {
  margin: 0;
  background: #cccccc;
  font-size: 16px;
  color: #5ca7e6;
  font-family: 'myFont';
}
